<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{user.name}}</h1>
    <p> <a href="/user/all"> See all Users</a> </p>
    <p><a href="/user/set_password/">Change Password</a></p>
    <p><a href="/user/search/">Search User</a></p>
    <p><a href="?action=logout">Logout</a></p>
</body>
</html>